/* Orange background, editing text colour, position and border */
body {
  background-color: #c77848;
  color: #ffe8c7;
  border-style: dotted;
  border-color: #c2583e;
  border-width: 20px;
  padding-bottom: 50px;
}

/* Editing poem text font and position */
#poem {
  font-family: fantasy;
  font-size: 2rem;
  padding-top: 30px;
  text-align: center;
}

/* Editing answer text font, border and position */
#answer {
  text-align: center;
  width: 20rem;
  height: 4rem;
  margin: auto;
  border-style: outset;
  border-color: #ffc96b;
  border-width: 20px;
}

/* Colour of text when hovered over */
.found {
  color: #7da18d;
}
