/* Background is a very light blue */
body {
text-align: center;
font-family: 'Inconsolata', monospace;
font-size: 4rem;
display: contents;
padding-bottom: 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Text font and size */
#reading {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
}

/* Title font, alignment and size */
h2 {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 3.5rem;
}

/* Title font, alignment and size */
h1 {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

/* Colour of highlighted text when hovered over (yellow) */
.found {
  background-color: #f2ff00;
}
