/* STYLE FOR INDEX, LEVEL 3 + FINAL */

/* Light blue background: INDEX, LEVEL 3 + FINAL */
body {
  background-color: #e0f1ff;
}

/* Image position and size: INDEX + FINAL */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Text font and size: LEVEL 3 */
#reading {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
}

/* Text position, font and size: INDEX, LEVEL 3 */
h1 {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

/* Text position, font and size: LEVEL 3 */
h2 {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 3.5rem;
}

/* Text position, font and size: LEVEL 3 */
h3 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
}

/* Colour of highlighted text when hovered over (yellow): LEVEL 3 */
.found {
  background-color: #f2ff00;
}

/* Unvisited link in black */
a:link {
  color: #000000;
}

/* Visited link in black */
a:visited {
  color: #000000;
}

/* Mouse over link in black */
a:hover {
  color: #000000;
}

/* Selected link in black */
a:active {
  color: #000000;
}
