/* STYLE FOR LEVEL 4 */

/* Black background */
body {
  background-color: #000000;
}

/* School supplies image position and size */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: fixed;
}

/* Title font, alignment, color (white) and size */
h1 {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  position: relative;
}

/* Title font, alignment, color (white) and size */
h2 {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  position: relative;
}

/* Unvisited link in black */
a:link {
  color: #ffffff;
}

/* Visited link in black */
a:visited {
  color: #ffffff;
}

/* Mouse over link in black */
a:hover {
  color: #ffffff;
}

/* Selected link in black */
a:active {
  color: #ffffff;
}

/* Editing answer text font, border (red), color (white) and position */
#answer {
  text-align: center;
  width: 20rem;
  height: 4rem;
  margin: auto;
  color: #ffffff;
  border-style: outset;
  border-color: #ff6947;
  border-width: 20px;
  position: relative;
}
