/* STYLE FOR LEVEL 1 */

/* Grey background */
body {
  background-color: #9c9c9c;
}

/* Bus image position and size */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Text font, alignment and size */
h1 {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 2rem;
}

/* Text font, alignment and size */
h2 {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 1.5rem;
}

/* Number on top left and bottom left, grey */
h3 {
  font-family: 'Inconsolata', monospace;
  text-align: left;
  font-size: 2rem;
  color: #9c9c9c;
}

/* Middle number on top and bottom, grey */
h4 {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 2rem;
  color: #9c9c9c;
}

/* Number on top right and bottom right, grey */
h5 {
  font-family: 'Inconsolata', monospace;
  text-align: right;
  font-size: 2rem;
  color: #9c9c9c;
}

/* Colour of text when hovered over (black) */
.found {
  color: #000000;
}

/* Unvisited link in black */
a:link {
  color: #9c9c9c;
}

/* Visited link in black */
a:visited {
  color: #9c9c9c;
}

/* Mouse over link in black */
a:hover {
  color: #000000;
  text-decoration: none;
}

/* Selected link in black */
a:active {
  color: #9c9c9c;
}
