body {
  background-color: black;
}

#secret-document {
  font-family: monospace;
  font-size: 2rem;
  width: 80vw;
  color: white;
  margin: auto;
}

h2 {
  font-family: 'Syne Mono', monospace;
  text-align: center;
}

h3 {
  font-family: 'Syne Mono', monospace;
  text-align: center;
  color: red;
}

button {
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Syne Mono', monospace;
}

p {
  text-align: center;
  font-family: 'Syne Mono', monospace;
}

.redacted {
  background-color: white;
  user-select: none;
}

.revealed {
  color: red;
}
